<h1 style="padding: .3em;
	border-bottom: 2px dashed pink">Members Profile</h1>
<%= link_to "新規投稿", "/members/new"%>
<br>
<br>
<% @profiles.each do |profile|%>
<div style=" color: white; background: <%= profile.color %>; padding: 20px; border: 2px dashed rgba(255 , 255 , 255 , 0.5);-moz-border-radius: 6px; -moz-box-shadow: 0 0 0 5px #f98289 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5); -webkit-border-radius: 6px; -webkit-box-shadow: 0 0 0 5px #f98289 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5); border-radius: 6px; box-shadow: 0 0 0 5px <%= profile.color %> , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5); font-size: 100%; "> 
    <b>名前</b>
    <br>
    <div style="border: <%= profile.color %> solid 1px; border-left: <%= profile.color %> solid 10px; padding: 20px; background: #fff; font-size: 100%;">
    <div style="color:black">
    <%= profile.name %>
    </div>
    </div>
    <br>
    <b>使用可能な技術</b>
    <br>
    <div style="border: <%= profile.color %> solid 1px; border-left: <%= profile.color %> solid 10px; padding: 20px; background: #fff; font-size: 100%;">
    <div style="color:black">
    <%= profile.can_use_tech %>
    </div>
    </div>
    <br>
    <b>コメント</b>
    <div style="border: <%= profile.color %> solid 1px; border-left: <%= profile.color %> solid 10px; padding: 20px; background: #fff; font-size: 100%;">
    <div style="color:black"><%= profile.comment %></div>
    </div>
    
    </div>
    
    <br>
    
<% end %>

</body>