<p id="notice"><%= notice %></p>

<div class="toppage">
<h1 class="top">カレンダー</h1>
<br>

<div class="row">
<div class="col-md-4 todo-form">
	<div class="schedule">TODO一覧</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>TODO</th>
      <th>日程</th>
    </tr>
  </thead>

  <tbody>
    <% @toodoos.each do |toodoo| %>
      <tr>
        <td><%= link_to toodoo.title , toodoo %></td>
        <td><%= toodoo.start_time.strftime("%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= form_with(model: @toodoo, local: true) do |form| %>

  <div class="title">
    <div class="form-tag">TODO</div>
    <%= form.text_field :title %>
  </div>

  <div class="content">
    <div class="form-tag">内容</div>
    <%= form.text_field :content %>
  </div>

    <div class="time">
    <div class="form-tag">時間</div>
    <%= form.datetime_select :start_time %>
  </div>

 <div class="submit">
    <%= form.submit %>
 </div>
<% end %>
</div>

<br>


<br>
<div class="col-md-8">
<%= month_calendar events: @toodoos do |date, toodoos| %>
  <%= date.day %>

  <% toodoos.each do |toodoo| %>
    <div>
      <%= link_to toodoo.title, toodoo %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>