<p id="notice"><%= notice %></p>
<div class="show">
<p style="background-color:white; width:200px; hight:100px; text-align: center;border-radius: 30px;">
  <strong>TODO</strong>
  <%= @toodoo.title %>
</p>

<p style="background-color:white; width:200px; hight:100px; text-align: center;border-radius: 30px;">
  <strong>内容</strong>
  <%= @toodoo.content %>
</p>

<p style="background-color:white; width:200px; hight:100px; text-align: center;border-radius: 30px;">
  <strong>期限</strong>
  <%= @toodoo.start_time.strftime("%m-%d") %>
</p>

<%=  link_to '編集', edit_toodoo_path(@toodoo) %>
<%= button_to '消去',toodoo_path(@toodoo.id), method: :destroy, data: { confirm: '本当に削除しますか?' } %>
<%= link_to '戻る', toodoos_path %>
</div>